<div class="center">
<h1>Welcome to Todo app</h1>
<form action = "/home" method ="post">
  <b><%=flash[:notice]%></b>
  <br/>
  Username: <input type = "text" name = "user" />
  <br/>
  Password: <input type = "password" name = "pass"/>
  <br/>
  <br/>
  <input type = "submit" value = "signin"/>
</form>
</div>
