<h1>New Task</h1>
<b><%=flash[:notice]%></b>
<form action="/tasks" method="post">
  <input name = "title" type = text>
  <input type = "submit" value = "ADD TASK">
  <%=link_to "List of Tasks","list"%>
</form>
