.center
{
  text-align:center;
}

.left
{
  text-align:left;
}
.right
{
  text-align:right;
}
 h1
{
  text-align:center;
}
body
{
  color: white;
  padding-left: 50px;
  padding-top: 20px ;
  padding-right: 50px;
  padding-bottom: 20px;
  background-color:rgb(19, 15, 54);
  margin-right:400px;
  margin-left:400px;
  margin-top:100px;
  margin-bottom:200px;
  font-size:20px;
  border-style:solid;
  border-width:10px;
}
html
{
  background-image:url("/assets/Snow.jpg");
  font-size: 20px;
}
footer
{
  color:white;
  padding-top:30px;
  padding-bottom:40px;
}


/*header*/

header
{
  color:white;
}
